.a{
    background-color: blanchedalmond;
    color: brown;
}
#b{
background-color: rgb(132, 132, 138);
color: white;
}
.c{
    background-color: skyblue;
}
.d{
    background-color: blueviolet;
}
.e{
    background-color: aquamarine;
}
.f{
    background-color: rgb(235, 228, 228);
}
.g{
    background-color:rgb(235, 228, 228);
}
.h{
    background-color: black;
    color: white;
}